extends ../shared/template

block content
  h1 Albums

  form(method='POST', action='/albums', enctype='multipart/form-data')
    input(type='text', name='name', autofocus=true, placeholder='Name')
    input(type='file', name='photo')
    button Add

  #albums
    each album in albums
      .album(style='background-image: url("#{album.photo}")')
